html {
	font-size: 50px;
}
#date-container, #date-container div {
	box-sizing: border-box;
	font-family: PingFangSC-Regular;
}
#date-container {
	font-size: 0.35rem;
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #26282E;
	z-index: 9999999;
}
#date-container #date-title-bar {
	width: 100%;
	text-align: center;
	background:  #F2F2F2;;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}
#date-title-bar div {
	display: inline-block;
	height: 0.8rem;
	line-height: 0.8rem;
}

#date-title-bar .data-cancel, #date-title-bar .data-ok {
	font-size: 0.30rem;
	color: #EF4238;
	float: left;
}
#date-title-bar .data-ok {
	float: right;
}
#date-container #date-content {
	font-size: 0.4rem;
	width: 100%;
	height: 3.6rem;
	background: #fff;
	overflow: hidden;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
	padding: 0 1.68rem 0 1.26rem;
	position: relative;
}
#date-content .year > div > div, #date-content .month > div > div, #date-content .day > div > div {
	color: #ccc;
	width: 1rem;
	text-align: right;
	height: 0.56rem;
	line-height: 0.56rem;
	letter-spacing: 1px;
}
#date-content .year > div > div {
  width: 1.5rem;
}
#date-content .year > div > div.choseEle, #date-content .month > div > div.choseEle, #date-content .day > div > div.choseEle {
	color: #000;
	opacity: 1;
}
#date-content #data-chose-top-border, #date-content #data-chose-bottom-border {
		width: 10000rem;
		position: absolute;
		left: -100rem;
		border-top: 1px solid #e7e7e7;
}
#date-content #data-chose-top-border {
	top: 1.68rem;
}
#date-content #data-chose-bottom-border {
	top: 2.2rem;
}
